@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@300;400;500&display=swap');

.formulaire .form-title {
    color: #FFFFFF;
    font-size: 5rem;
    font-weight: bold;
    padding: 2rem;
}
.formulaire #form {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    font-size: 3rem;
    padding: 2em;
    width: 800px;
}
.formulaire .form-item {
    display: flex;
    font-family: Roboto, arial;
    flex-direction: column;
    padding-bottom: 1.25em;
}
.formulaire .form-item label {
    padding-bottom: .4em;
}
.formulaire .form-item input, textarea {
    border: solid 1px #5D6A6C;
    border-radius: 4px;
    padding: .5em;
}
.error {
    color: red;
    margin-top: 5px;
}
.invisible {
    display: none;
}
textarea {
    font-family: inherit;
}
.formulaire #form-btn {
    background: #ECB519;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    margin-top: 2em;
    padding: .75em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

@media screen and (max-width : 1024px) {
    .formulaire #form {
        width: 90%;
    }
}